body, html{
    height: 100%;
    
    margin: 0;
    padding: 0;
    font-family:  "lato",sans-serif;
    font-weight: 400;

    background-color: #ccc;
}

.parte1{
    background-image: url(Img/parte1.png);
   
    min-height: 100%;

    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
  align-items: center;
  justify-content: center;
}

.pt1{
    background-color: #f4f4f4;

    color: rgb(0, 0, 0);
    font-size: 27px;
    
    position: absolute;
    width: 25rem;
    height: 1.5rem;
    text-align: center;
    letter-spacing: 8px;

}

#txt1, .pt1{
   padding: 20px;
}

.sec1{
    background-color: #f4f4f4;

    line-height: 1.8rem;

    position: static;
    padding: 40px 80px;
    font-size: 16px;
    text-align: center;

}

.parte2{
    background-image: url(Img/wall.jpg);

    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 400px;

    display: flex;
  align-items: center;
  justify-content: center;
}

.pt2{
    width: 30rem;
    height: 6rem;


    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 18px;
    text-align: center;

    position: absolute;


}

#txt2, #pt2{
    padding: 40px;
}
.sec2{
    background-color: #01004471;
    padding: 30px 80px;

    font-size: 16px;
    text-align: center;
    line-height: 1.8rem;
    color: #fff;
}

.parte3{
    position: relative;
    background-image: url(Img/parte3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;

    min-height: 500px;


    display: flex;
  align-items: center;
  justify-content: center;
}

.pt3{
    font-size: 27px;

    width: 27rem;
    height: 3rem;
    color: #ffffff;

    letter-spacing: 18px;
    text-align: center;

    position: absolute;

    background-color: #010044a1;
}

#txt3, .pt3{
    padding: 12px;
}

.sec3{
    text-align: center;

    padding: 40px 80px;

    line-height: 1.9rem;

    background-color: #010044c2;
    color: #fff;
}

.parte4{
    background-image: url(Img/parte4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100%;
    position: relative;
    opacity: 0.8;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pt4{
    background-color: #ffffffd7;
    width: 25rem;
    height: 1.5rem;

    font-size: 27px;
    text-align: center;
    letter-spacing: 10px;

    text-transform: uppercase;
}
.txt4, .pt4{
    padding: 20px ;
}